Repository jdfalk/ubuntu-autoinstall-agent, changes with the labels that .github/labeler.yml gives for each.
All labels: type:documentation, type:testing, type:maintenance, tech:python, tech:javascript, tech:shell, workflow:github-actions, workflow:automation, workflow:ci-cd, workflow:deployment, module:config, project:github-management, github-actions, automation, project:issue-management, issue-management

.github/labeler.yml:

# file: .github/labeler.yml
# version: 2.0.0
# guid: 1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d
#
# Standardized Pull Request Labeler Configuration for ghcommon repository
# Automatically labels pull requests based on changed files or branch names
# Uses standardized label naming convention: prefix:suffix

# TYPE LABELS
type:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**/*"
          - ".github/**/*.md"
          - "README*"
          - "CHANGELOG*"
          - "TODO*"
          - "CONTRIBUTING*"
          - "templates/**/*.md"

type:testing:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*test*"
          - "tests/**"
          - "test/**"
          - "**/test_*"
          - "**/*_test.py"
          - ".github/workflows/*test*"

type:maintenance:
  - changed-files:
      - any-glob-to-any-file:
          - ".gitignore"
          - ".gitattributes"
          - "requirements.txt"
          - "package.json"
          - "package-lock.json"
          - "Makefile"
          - "cleanup*"

# TECHNOLOGY LABELS
tech:python:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.py"
          - "requirements.txt"
          - "pyproject.toml"
          - "setup.py"
          - "**/python/**"

tech:javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.js"
          - "**/*.jsx"
          - "**/*.ts"
          - "**/*.tsx"
          - "package.json"
          - "package-lock.json"
          - "node_modules/**"

tech:shell:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.sh"
          - "**/*.bash"
          - "scripts/**"

# WORKFLOW LABELS
workflow:github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".github/actions/**"
          - "action.yml"
          - "action.yaml"

workflow:automation:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/**"
          - "**/automation/**"
          - "**/*automation*"
          - "**/auto-*"

workflow:ci-cd:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/ci*"
          - ".github/workflows/cd*"
          - ".github/workflows/deploy*"
          - ".github/workflows/build*"
          - ".github/workflows/test*"

workflow:deployment:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/deploy*"
          - ".github/workflows/release*"
          - "docker*"
          - "Dockerfile*"
          - "docker-compose*"

# MODULE LABELS
module:config:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.yml"
          - "**/*.yaml"
          - "**/*.json"
          - "**/*.toml"
          - "**/*.ini"
          - "**/*.conf"
          - "config/**"
          - "**/config/**"

# PROJECT-SPECIFIC LABELS
# GitHub project management and workflows
project:github-management:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/unified_github_*"
          - "**/*github*project*"
          - "**/project*manager*"
          - "labels.json"

# Shorter aliases for common labels
github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".github/actions/**"
          - "action.yml"
          - "action.yaml"

automation:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/**"
          - "**/automation/**"
          - "**/*automation*"
          - "**/auto-*"

# Issue management
project:issue-management:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/*issue*"
          - "**/issue*manager*"
          - "**/issue*update*"
          - "templates/issue*"

issue-management:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/*issue*"
          - "**/issue*manager*"
          - "**/issue*update*"
          - "templates/issue*"

# SIZE LABELS (File count-based sizing not supported in labeler v5)
# Note: Size labels based on changed file counts are not supported in labeler v5+
# Alternative: Use GitHub's built-in PR size detection or manual labeling

# AI/AUTOMATION LABELS
codex:
  - head-branch: ["^feature/codex-.*", "^codex/.*", "^ai/.*", "^automated/.*"]

feat: Bump version to 1.1.0 for SSH client and improve error handling in command execution feat: Update version to 1.7.0 for system setup and enhance chroot preparation and GRUB installation logic
  src/network/ssh.rs
  src/network/ssh_installer/system_setup.rs
Labels: none

feat: Update package installation commands for UEFI and ZFS support in chroot environment
  src/network/ssh_installer/system_setup.rs
Labels: none

feat: Update version to 1.2.0 and add hold-on-failure option for installation commands
  src/cli/args.rs
  src/cli/commands.rs
  src/main.rs
  src/network/ssh_installer/installer.rs
Labels: none

feat: Update version to 1.7.1 and ensure ESP and efivarfs are mounted for EFI package installation
  src/network/ssh_installer/system_setup.rs
Labels: none

feat: Update version to 1.10.0 and enhance ESP partition detection and mounting in SSH installer
  src/network/ssh_installer/installer.rs
  src/network/ssh_installer/system_setup.rs
Labels: none

feat: Bump version to 1.1.1 and disable JavaScript/TypeScript validation in Super-Linter CI configuration
  .github/linters/super-linter-ci.env
Labels: none

feat: Bump version to 1.0.1 in disk management module
  src/image/builder/disk.rs
Labels: none

feat: Update version to 1.0.1 and simplify error handling in ISO management
  src/image/builder/iso.rs
Labels: none

feat: Bump version to 1.0.1 and simplify error handling in directory setup
  src/image/builder/mod.rs
Labels: none

feat: Bump version to 1.0.1 and streamline error handling in post-processing
  src/image/builder/postprocess.rs
Labels: none

feat: Update dependencies and improve error handling
  Cargo.toml
  src/image/manager.rs
  src/main.rs
  src/network/ssh.rs
  src/network/ssh_installer/investigation.rs
  src/network/ssh_installer/packages.rs
  src/security/validation.rs
  src/utils/coreutils.rs
  src/utils/disk.rs
  src/utils/qemu.rs
  src/utils/system.rs
  src/utils/vm.rs
Labels: module:config

feat: Bump version to 1.10.1 and improve ESP partition detection command
  src/network/ssh_installer/system_setup.rs
Labels: none

feat: Update version to 1.11.0 and refactor ESP partition detection logic
  src/network/ssh_installer/system_setup.rs
Labels: none

feat: Bump versions and implement check_silent method for SSH command execution
  src/network/ssh.rs
  src/network/ssh_installer/installer.rs
  src/network/ssh_installer/system_setup.rs
  src/network/ssh_installer/zfs_ops.rs
Labels: none

feat: Update version to 1.13.0 and refine bash command quoting in fstab handling
  src/network/ssh_installer/system_setup.rs
Labels: none

feat: Refine bash command quoting in fstab handling for improved compatibility
  src/network/ssh_installer/system_setup.rs
Labels: none

feat: Improve bash command quoting for fstab entry handling
  src/network/ssh_installer/system_setup.rs
Labels: none

feat: Bump versions for multiple modules and refine comments for clarity
  src/network/download.rs
  src/network/ssh_installer/disk_ops.rs
  src/network/ssh_installer/installer.rs
  src/network/ssh_installer/system_setup.rs
  src/network/ssh_installer/zfs_ops.rs
  src/utils/vm.rs
  tests/integration_test.rs
Labels: type:testing

feat: Update version to 1.13.2 and enhance chroot mount handling in system setup feat: Update version to 1.3.2 and refactor rpool creation command in ZFS operations
  src/network/ssh_installer/system_setup.rs
  src/network/ssh_installer/zfs_ops.rs
Labels: none

feat: Update version to 1.3.0 and add pause_after_storage option for SSH installation
  src/cli/args.rs
  src/cli/commands.rs
  src/main.rs
  src/network/ssh_installer/disk_ops.rs
  src/network/ssh_installer/installer.rs
Labels: none

feat: Update version to 1.10.0 and enhance APT source configuration for Ubuntu installation
  src/network/ssh_installer/installer.rs
  src/network/ssh_installer/system_setup.rs
Labels: none

feat: Bump versions to 1.19.0, 1.4.0, 1.11.0, 1.15.0, and 1.4.1; enhance CI workflow and add new helper functions for disk operations and system setup
  .github/workflows/ci.yml
  src/network/ssh_installer/disk_ops.rs
  src/network/ssh_installer/installer.rs
  src/network/ssh_installer/system_setup.rs
  src/network/ssh_installer/zfs_ops.rs
Labels: workflow:github-actions, workflow:ci-cd, module:config, github-actions

refactor: Comment out validation flags for various languages in linter configuration files
  .github/linters/super-linter-ci.env
  .github/linters/super-linter-pr.env
Labels: none

feat: Update versions to 1.20.0, 1.0.2, 1.0.1, 1.11.1, 1.0.1, 1.1.2; enhance CI workflows and improve test assertions
  .github/workflows/ci.yml
  .github/workflows/release-protobuf.yml
  .github/workflows/release-rust.yml
  src/network/ssh_installer/installer.rs
  src/security/luks.rs
  src/utils/system.rs
  src/utils/vm.rs
Labels: workflow:github-actions, workflow:ci-cd, workflow:deployment, module:config, github-actions

fix: Update output directory for coverage report generation in CI workflow
  .github/workflows/ci.yml
Labels: workflow:github-actions, workflow:ci-cd, module:config, github-actions

feat: Update Super-Linter version to 1.1.2 and add legacy variable for Markdown linter rules
  .github/linters/super-linter-ci.env
Labels: none

feat: Update CI workflow to include language detection and adjust job dependencies
  .github/workflows/ci.yml
Labels: workflow:github-actions, workflow:ci-cd, module:config, github-actions

feat: add Git Commit and Git Push tasks to VSCode configuration
  .vscode/tasks.json
Labels: module:config

feat(installer): tolerate benign zsysd connection errors during chroot apt steps; route chroot config commands through tolerant runner; tests pass
  src/network/ssh_installer/system_setup.rs
Labels: none

fix(zfs): run sed path normalization on host zfs-list.cache path instead of in chroot; keep operation idempotent
  src/network/ssh_installer/system_setup.rs
Labels: none

fix(system_setup): update error handling to tolerate benign zsys daemon connection errors
  .github/workflows/ci.yml
  src/network/ssh_installer/system_setup.rs
Labels: workflow:github-actions, workflow:ci-cd, module:config, github-actions

fix(system_setup): update version to 1.16.3 and improve zfs-list cache path handling
  src/network/ssh_installer/system_setup.rs
Labels: none

fix(linters): update Markdown config file path for Super-Linter
  .github/linters/super-linter-ci.env
  .github/linters/super-linter-pr.env
Labels: none

chore: prune legacy docs-update system directory and references
  .github/doc-updates/.gitkeep
  .github/doc-updates/2025-09-15-rust-instructions-ci-requirements.json
  .github/instructions/commit-messages.instructions.md
  .github/instructions/copilot-instructions.md
  .github/instructions/general-coding.instructions.md
  .github/instructions/go.instructions.md
  .github/instructions/javascript.instructions.md
  .github/instructions/python.instructions.md
  .github/instructions/r.instructions.md
  .github/instructions/rust.instructions.md
  .github/instructions/typescript.instructions.md
Labels: type:documentation, module:config

refactor(vm): use is_multiple_of for logging interval check
  src/config/image.rs
  src/utils/vm.rs
Labels: module:config

fix(vm): add conditional imports for Unix support in send_monitor_command
  src/utils/vm.rs
Labels: none

chore: Remove deprecated linter configuration files and update CI/CD workflows
  .eslintrc.yml
  .github/linters/README.md
  .github/linters/clippy.toml
  .github/linters/rustfmt.toml
  .github/scripts/sync-release-run-semantic-release.py
  .github/scripts/sync-release-upload-artifacts.py
  .github/workflows/ci.yml
  .github/workflows/sync-receiver.yml
  .golangci.yml
  .markdownlint.json
  .pre-commit-config.yaml
  .prettierrc
  .pylintrc
  .python-black
  .vscode/tasks.json
  .yaml-lint.yml
  clippy.toml
  ruff.toml
  rustfmt.toml
  super-linter-ci.env
  super-linter-pr.env
Labels: type:documentation, tech:python, workflow:github-actions, workflow:ci-cd, module:config, github-actions

style: Format code for improved readability in configuration and installer modules
  src/config/image.rs
  src/config/mod.rs
  src/config/target.rs
  src/image/builder/iso.rs
  src/network/ssh_installer/installer.rs
  src/network/ssh_installer/system_setup.rs
  src/utils/disk.rs
Labels: module:config

chore: update release workflow to version 5.0.0 and streamline job definitions
  .github/workflows/release.yml
Labels: workflow:github-actions, workflow:deployment, module:config, github-actions

chore: update release workflow version to 5.1.0 and enhance input/output definitions
  .github/workflows/release.yml
Labels: workflow:github-actions, workflow:deployment, module:config, github-actions
