Repository jdfalk/ubuntu-autoinstall-agent, changes with the labels that .github/labeler.yml gives for each.
All labels: type:documentation, type:testing, type:maintenance, tech:python, tech:javascript, tech:shell, workflow:github-actions, workflow:automation, workflow:ci-cd, workflow:deployment, module:config, project:github-management, github-actions, automation, project:issue-management, issue-management

.github/labeler.yml:

# file: .github/labeler.yml
# version: 2.0.0
# guid: 1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d
#
# Standardized Pull Request Labeler Configuration for ghcommon repository
# Automatically labels pull requests based on changed files or branch names
# Uses standardized label naming convention: prefix:suffix

# TYPE LABELS
type:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**/*"
          - ".github/**/*.md"
          - "README*"
          - "CHANGELOG*"
          - "TODO*"
          - "CONTRIBUTING*"
          - "templates/**/*.md"

type:testing:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*test*"
          - "tests/**"
          - "test/**"
          - "**/test_*"
          - "**/*_test.py"
          - ".github/workflows/*test*"

type:maintenance:
  - changed-files:
      - any-glob-to-any-file:
          - ".gitignore"
          - ".gitattributes"
          - "requirements.txt"
          - "package.json"
          - "package-lock.json"
          - "Makefile"
          - "cleanup*"

# TECHNOLOGY LABELS
tech:python:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.py"
          - "requirements.txt"
          - "pyproject.toml"
          - "setup.py"
          - "**/python/**"

tech:javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.js"
          - "**/*.jsx"
          - "**/*.ts"
          - "**/*.tsx"
          - "package.json"
          - "package-lock.json"
          - "node_modules/**"

tech:shell:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.sh"
          - "**/*.bash"
          - "scripts/**"

# WORKFLOW LABELS
workflow:github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".github/actions/**"
          - "action.yml"
          - "action.yaml"

workflow:automation:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/**"
          - "**/automation/**"
          - "**/*automation*"
          - "**/auto-*"

workflow:ci-cd:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/ci*"
          - ".github/workflows/cd*"
          - ".github/workflows/deploy*"
          - ".github/workflows/build*"
          - ".github/workflows/test*"

workflow:deployment:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/deploy*"
          - ".github/workflows/release*"
          - "docker*"
          - "Dockerfile*"
          - "docker-compose*"

# MODULE LABELS
module:config:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.yml"
          - "**/*.yaml"
          - "**/*.json"
          - "**/*.toml"
          - "**/*.ini"
          - "**/*.conf"
          - "config/**"
          - "**/config/**"

# PROJECT-SPECIFIC LABELS
# GitHub project management and workflows
project:github-management:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/unified_github_*"
          - "**/*github*project*"
          - "**/project*manager*"
          - "labels.json"

# Shorter aliases for common labels
github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".github/actions/**"
          - "action.yml"
          - "action.yaml"

automation:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/**"
          - "**/automation/**"
          - "**/*automation*"
          - "**/auto-*"

# Issue management
project:issue-management:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/*issue*"
          - "**/issue*manager*"
          - "**/issue*update*"
          - "templates/issue*"

issue-management:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/*issue*"
          - "**/issue*manager*"
          - "**/issue*update*"
          - "templates/issue*"

# SIZE LABELS (File count-based sizing not supported in labeler v5)
# Note: Size labels based on changed file counts are not supported in labeler v5+
# Alternative: Use GitHub's built-in PR size detection or manual labeling

# AI/AUTOMATION LABELS
codex:
  - head-branch: ["^feature/codex-.*", "^codex/.*", "^ai/.*", "^automated/.*"]

chore: remove central management instructions from markdown guidelines
  .github/instructions/markdown.instructions.md
Labels: type:documentation

chore: update linter configuration file paths for consistency
  .golangci.yml
  .yaml-lint.yml
Labels: module:config

chore: refactor linter sync paths and update configuration references
  .github/scripts/sync-receiver-sync-files.py
  .github/workflow-config.yaml
  .github/workflows/sync-receiver.yml
  clippy.toml
  ruff.toml
  super-linter-pr.env
Labels: tech:python, workflow:github-actions, module:config, github-actions

test: add comprehensive unit tests to improve coverage from 24.79% to 37.22%
  Cargo.toml
  src/cli/args.rs
  src/cli/commands.rs
  src/image/builder/cloudinit.rs
  src/logging/logger.rs
  src/main.rs
  src/network/executor.rs
  src/network/local.rs
  src/network/mod.rs
  src/network/ssh_installer/installer.rs
Labels: module:config

docs: update Copilot instructions to version 2.3.0 and enhance commit message standards
  .github/copilot-instructions.md
Labels: type:documentation

docs: update Copilot instructions to version 2.4.0 and clarify commit message standards
  .github/copilot-instructions.md
Labels: type:documentation

docs: update Copilot instructions to version 2.5.0 and enhance guidelines for multiple changes in a single commit
  .github/copilot-instructions.md
Labels: type:documentation

test(disk): cover DiskManager basics
  src/image/builder/disk.rs
Labels: none

test(iso): extend IsoManager coverage
  src/image/builder/iso.rs
Labels: none

test(postprocess): exercise PostProcessor flows
  src/image/builder/postprocess.rs
Labels: none

test(qemu): backfill QemuUtils scenarios
  src/utils/qemu.rs
Labels: none

test(vm): broaden VmManager coverage
  src/utils/vm.rs
Labels: none

test(cli): cache netboot assets in tests
  src/cli/commands.rs
Labels: none

test(image): reuse cached iso fixtures; test(network): mock downloader responses
  src/image/builder/iso.rs
  src/network/download.rs
Labels: none

Remove obsolete GitHub Actions workflows for frontend, Go, JavaScript, Python, Rust, TypeScript, and Protobuf releases
  .github/workflows/release-docker.yml
  .github/workflows/release-frontend.yml
  .github/workflows/release-go.yml
  .github/workflows/release-javascript.yml
  .github/workflows/release-protobuf.yml
  .github/workflows/release-python.yml
  .github/workflows/release-rust.yml
  .github/workflows/release-typescript.yml
Labels: workflow:github-actions, workflow:deployment, module:config, github-actions

chore(release): update version to 5.2.0 and enhance input descriptions
  .github/workflows/release.yml
Labels: workflow:github-actions, workflow:deployment, module:config, github-actions

ci(release): trim workflow inputs
  .github/workflows/release.yml
Labels: workflow:github-actions, workflow:deployment, module:config, github-actions

chore(release): change default build target to rust
  .github/workflows/release.yml
Labels: workflow:github-actions, workflow:deployment, module:config, github-actions

feat(cli): add --force option to bypass live environment check
  src/cli/args.rs
  src/cli/commands.rs
  src/main.rs
Labels: none

test: update assertions in LocalInstall command test
  src/cli/args.rs
Labels: none

fix: baby steps
  src/network/ssh_installer/installer.rs
  src/network/ssh_installer/investigation.rs
Labels: none

feat(investigation): enhance system investigation with detailed disk and network info
  src/network/ssh_installer/investigation.rs
Labels: none

fix: clean up Python configuration comments and adjust Markdown config
  super-linter-pr.env
Labels: none

fix: comment out Markdown validation in Super-Linter configurations
  super-linter-ci.env
  super-linter-pr.env
Labels: none

feat: add scripts for configuring Cargo, detecting frontend packages, writing Go module metadata, and generating .pypirc file
  .github/workflows/scripts/configure_cargo_registry.py
  .github/workflows/scripts/detect_frontend_package.py
  .github/workflows/scripts/write_go_module_metadata.py
  .github/workflows/scripts/write_pypirc.py
Labels: tech:python, workflow:github-actions, github-actions

chore: remove deprecated dependabot configuration file
  .github/dependabot-new.yml
Labels: module:config

chore(workflows): extract helper scripts and add tests
  .github/workflows/ci.yml
  .github/workflows/scripts/ci_workflow.py
  .github/workflows/scripts/intelligent_labeling.py
  .github/workflows/scripts/load_repository_config.py
  .github/workflows/scripts/parse_protobuf_config.py
  .github/workflows/scripts/sync_receiver.py
  .github/workflows/sync-receiver.yml
  .github/workflows/workflow-scripts-tests.yml
  tests/workflow_scripts/__init__.py
  tests/workflow_scripts/test_ci_workflow.py
  tests/workflow_scripts/test_misc_scripts.py
  tests/workflow_scripts/test_sync_receiver.py
Labels: type:testing, tech:python, workflow:github-actions, workflow:ci-cd, module:config, github-actions

feat: add Go setup and testing functions with matrix generation for CI workflows
  .github/workflows/scripts/ci_workflow.py
Labels: tech:python, workflow:github-actions, github-actions

feat: add release workflow helper utilities for versioning and changelog generation
  .github/workflows/scripts/release_workflow.py
Labels: tech:python, workflow:github-actions, github-actions

feat(workflows): add workflow foundations
  .github/SECURITY_CHECKLIST.md
  .github/schemas/repository-config.schema.json
  .github/workflow-config.yaml
  .github/workflows/ci.yml
  .github/workflows/reusable-ci.yml
  .github/workflows/scripts/ci_workflow.py
  .github/workflows/scripts/validate_config.py
  .github/workflows/scripts/workflow_common.py
  pytest.ini
  tests/integration/test_ci_workflow_integration.py
  tests/workflow_scripts/__init__.py
  tests/workflow_scripts/test_ci_workflow.py
  tests/workflow_scripts/test_workflow_common.py
Labels: type:documentation, type:testing, tech:python, workflow:github-actions, workflow:ci-cd, module:config, github-actions

feat(release): implement branch-aware workflows
  .github/repository-config.yml
  .github/workflows/release.yml
  .github/workflows/reusable-release.yml
  .github/workflows/scripts/release_workflow.py
  docs/refactors/workflows/v2/github-packages-setup.md
  tests/workflow_scripts/test_release_workflow.py
Labels: type:documentation, type:testing, tech:python, workflow:github-actions, workflow:deployment, module:config, github-actions

chore: remove outdated CHANGELOG and TODO files
  CHANGELOG.md
  TODO.md
Labels: type:documentation

chore: remove GitHub Packages setup documentation
  docs/refactors/workflows/v2/github-packages-setup.md
Labels: type:documentation

refactor: Refactor scripts for improved readability and error handling
  .github/scripts/detect-build-matrix.py
  .github/scripts/detect_languages.py
  .github/scripts/determine-security-languages.py
  .github/scripts/docker-detect.py
  .github/scripts/docker-security.py
  .github/scripts/monitor-rollout.py
  .github/scripts/parse_config_json.py
  .github/scripts/run_buf_generate.py
  .github/scripts/sync-auto-commit.py
  .github/scripts/sync-complete-workflow-modernizer.py
  .github/scripts/sync-receiver-check-changes.py
  .github/scripts/sync-receiver-commit-push.py
  .github/scripts/sync-receiver-generate-summary.py
  .github/scripts/sync-receiver-sync-files.py
  .github/scripts/sync-release-build-artifacts.py
  .github/scripts/sync-release-create-package-json.py
  .github/scripts/sync-release-create-semantic-config.py
  .github/scripts/sync-release-detect-language.py
  .github/scripts/sync-release-determine-version.py
  .github/scripts/sync-release-handle-manual-release.py
  .github/scripts/sync-release-run-semantic-release.py
  .github/scripts/sync-release-upload-artifacts.py
  .github/scripts/sync-workflow-modernizer.py
  .github/workflows/scripts/ci_workflow.py
  .github/workflows/scripts/configure_cargo_registry.py
  .github/workflows/scripts/intelligent_labeling.py
  .github/workflows/scripts/release_workflow.py
  .github/workflows/scripts/sync_receiver.py
  .github/workflows/scripts/validate_config.py
  .github/workflows/scripts/workflow_common.py
  .github/workflows/scripts/write_go_module_metadata.py
  tests/integration/test_ci_workflow_integration.py
  tests/workflow_scripts/__init__.py
  tests/workflow_scripts/test_ci_workflow.py
  tests/workflow_scripts/test_misc_scripts.py
  tests/workflow_scripts/test_release_workflow.py
  tests/workflow_scripts/test_sync_receiver.py
  tests/workflow_scripts/test_workflow_common.py
Labels: type:testing, tech:python, workflow:github-actions, github-actions

docs(instructions): add safe-ai-util.instructions.md
  .github/instructions/safe-ai-util.instructions.md
Labels: type:documentation

chore(workflows): update action versions and file references
  .github/instructions/copilot-instructions.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-release.yml
  .github/workflows/sync-receiver.yml
  .github/workflows/workflow-scripts-tests.yml
Labels: type:documentation, type:testing, workflow:github-actions, workflow:ci-cd, workflow:deployment, module:config, github-actions

chore(instructions): remove outdated shell, test generation, and TypeScript instructions
  .github/dependabot.yml
  .github/instructions/commit-messages.instructions.md
  .github/instructions/copilot-instructions.md
  .github/instructions/general-coding.instructions.md
  .github/instructions/github-actions.instructions.md
  .github/instructions/go.instructions.md
  .github/instructions/html-css.instructions.md
  .github/instructions/javascript.instructions.md
  .github/instructions/json.instructions.md
  .github/instructions/markdown.instructions.md
  .github/instructions/protobuf.instructions.md
  .github/instructions/pull-request-descriptions.instructions.md
  .github/instructions/python.instructions.md
  .github/instructions/r.instructions.md
  .github/instructions/rust-utility.instructions.md
  .github/instructions/rust.instructions.md
  .github/instructions/safe-ai-util.instructions.md
  .github/instructions/security.instructions.md
  .github/instructions/shell.instructions.md
  .github/instructions/test-generation.instructions.md
  .github/instructions/typescript.instructions.md
Labels: type:documentation, type:testing, module:config

Remove Trivy - compromised supply chain
  .github/scripts/docker-security.py
  .github/security-guidelines.md
Labels: type:documentation, tech:python

Remove Trivy - compromised supply chain
  .github/scripts/docker-security.py
  .github/security-guidelines.md
Labels: type:documentation, tech:python

chore(gitignore): sync managed ignore block
  .gitignore
Labels: type:maintenance
