Repository jdfalk/ubuntu-autoinstall-agent, changes with the labels that .github/labeler.yml gives for each.
All labels: type:documentation, type:testing, type:maintenance, tech:python, tech:javascript, tech:shell, workflow:github-actions, workflow:automation, workflow:ci-cd, workflow:deployment, module:config, project:github-management, github-actions, automation, project:issue-management, issue-management

.github/labeler.yml:

# file: .github/labeler.yml
# version: 2.0.0
# guid: 1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d
#
# Standardized Pull Request Labeler Configuration for ghcommon repository
# Automatically labels pull requests based on changed files or branch names
# Uses standardized label naming convention: prefix:suffix

# TYPE LABELS
type:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**/*"
          - ".github/**/*.md"
          - "README*"
          - "CHANGELOG*"
          - "TODO*"
          - "CONTRIBUTING*"
          - "templates/**/*.md"

type:testing:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*test*"
          - "tests/**"
          - "test/**"
          - "**/test_*"
          - "**/*_test.py"
          - ".github/workflows/*test*"

type:maintenance:
  - changed-files:
      - any-glob-to-any-file:
          - ".gitignore"
          - ".gitattributes"
          - "requirements.txt"
          - "package.json"
          - "package-lock.json"
          - "Makefile"
          - "cleanup*"

# TECHNOLOGY LABELS
tech:python:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.py"
          - "requirements.txt"
          - "pyproject.toml"
          - "setup.py"
          - "**/python/**"

tech:javascript:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.js"
          - "**/*.jsx"
          - "**/*.ts"
          - "**/*.tsx"
          - "package.json"
          - "package-lock.json"
          - "node_modules/**"

tech:shell:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.sh"
          - "**/*.bash"
          - "scripts/**"

# WORKFLOW LABELS
workflow:github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".github/actions/**"
          - "action.yml"
          - "action.yaml"

workflow:automation:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/**"
          - "**/automation/**"
          - "**/*automation*"
          - "**/auto-*"

workflow:ci-cd:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/ci*"
          - ".github/workflows/cd*"
          - ".github/workflows/deploy*"
          - ".github/workflows/build*"
          - ".github/workflows/test*"

workflow:deployment:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/deploy*"
          - ".github/workflows/release*"
          - "docker*"
          - "Dockerfile*"
          - "docker-compose*"

# MODULE LABELS
module:config:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.yml"
          - "**/*.yaml"
          - "**/*.json"
          - "**/*.toml"
          - "**/*.ini"
          - "**/*.conf"
          - "config/**"
          - "**/config/**"

# PROJECT-SPECIFIC LABELS
# GitHub project management and workflows
project:github-management:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/unified_github_*"
          - "**/*github*project*"
          - "**/project*manager*"
          - "labels.json"

# Shorter aliases for common labels
github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".github/actions/**"
          - "action.yml"
          - "action.yaml"

automation:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/**"
          - "**/automation/**"
          - "**/*automation*"
          - "**/auto-*"

# Issue management
project:issue-management:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/*issue*"
          - "**/issue*manager*"
          - "**/issue*update*"
          - "templates/issue*"

issue-management:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/*issue*"
          - "**/issue*manager*"
          - "**/issue*update*"
          - "templates/issue*"

# SIZE LABELS (File count-based sizing not supported in labeler v5)
# Note: Size labels based on changed file counts are not supported in labeler v5+
# Alternative: Use GitHub's built-in PR size detection or manual labeling

# AI/AUTOMATION LABELS
codex:
  - head-branch: ["^feature/codex-.*", "^codex/.*", "^ai/.*", "^automated/.*"]

feat: Update workflow configuration to version 2.1.0 and enhance Rust version support
  .github/workflow-config.yaml
Labels: module:config

Add comprehensive validation utilities for auto-installer system
  src/commands/awk.rs
  src/commands/buf.rs
  src/commands/editor.rs
  src/commands/file.rs
  src/commands/git.rs
  src/commands/linter.rs
  src/commands/mod.rs
  src/commands/prettier.rs
  src/commands/python.rs
  src/commands/sed.rs
  src/commands/system.rs
  src/commands/uutils.rs
  src/config.rs
  src/config/generator.rs
  src/config/loader.rs
  src/config/mod.rs
  src/config/validator.rs
  src/error.rs
  src/executor.rs
  src/installer/mod.rs
  src/lib.rs
  src/logger.rs
  src/main.rs
  src/recovery/mod.rs
  src/reporter/mod.rs
  src/security/allowlist.rs
  src/security/audit.rs
  src/security/mod.rs
  src/security/sanitizer.rs
  src/security/validator.rs
  src/steps/mod.rs
  src/utils.rs
  src/utils/crypto.rs
  src/utils/disk.rs
  src/utils/mod.rs
  src/utils/network.rs
  src/utils/system.rs
  src/utils/validation.rs
Labels: module:config

feat: Add .gitignore and Cargo.toml for Ubuntu AutoInstall Agent with comprehensive dependency management
  .gitignore
  Cargo.toml
  build-cross-platform.sh
Labels: type:maintenance, tech:shell, module:config

Implement image management module for Ubuntu autoinstall agent
  src/image/builder.rs
  src/image/customizer.rs
  src/image/deployer.rs
  src/image/manager.rs
  src/image/mod.rs
  src/main.rs
  src/main_legacy.rs
Labels: none

feat: Add comprehensive documentation and implementation guide for Ubuntu AutoInstall Agent
  CODING_AGENT_INSTRUCTIONS.md
  DESIGN.md
  IMPLEMENTATION.md
  examples/configs/arm64-server.yaml
  examples/configs/basic-server.yaml
  examples/configs/len-serv-003.yaml
  examples/configs/production-cluster.yaml
  examples/specs/ubuntu-24.04-full.yaml
  examples/specs/ubuntu-24.04-minimal.yaml
Labels: type:documentation, module:config

feat: Add comprehensive project status documentation for Ubuntu AutoInstall Agent
  PROJECT_STATUS.md
Labels: type:documentation

fix: Clean up whitespace and formatting inconsistencies in documentation files
  CONTRIBUTING.md
  DESIGN.md
  IMPLEMENTATION.md
  PROJECT_STATUS.md
  README.md
Labels: type:documentation

Checkpoint from VS Code for coding agent session
  CHANGELOG.md
  CONTRIBUTING.md
  DESIGN.md
  IMPLEMENTATION.md
  PROJECT_STATUS.md
  README.md
  TODO.md
  src/error.rs
  src/lib.rs
Labels: type:documentation

Checkpoint from VS Code for coding agent session
  CHANGELOG.md
  CONTRIBUTING.md
  DESIGN.md
  IMPLEMENTATION.md
  PROJECT_STATUS.md
  README.md
  TODO.md
  src/error.rs
  src/lib.rs
Labels: type:documentation

feat: Enhance image deployment and management features
  DEPLOYMENT_GUIDE.md
  build-on-linux.sh
  examples/configs/production-server.yaml
  examples/specs/ubuntu-24.04-secure.yaml
  src/cli/args.rs
  src/cli/commands.rs
  src/image/builder.rs
  src/image/deployer.rs
  src/main.rs
  src/utils/mod.rs
  src/utils/qemu.rs
  src/utils/system.rs
  src/utils/vm.rs
Labels: type:documentation, tech:shell, module:config

feat: Implement VM management utilities and enhance QEMU installation automation
  scripts/create-autoinstall-iso.sh
  src/utils/vm.rs
Labels: tech:shell, workflow:automation, automation

feat: Add cache directory support for image creation and enhance image builder
  Cargo.toml
  src/cli/args.rs
  src/cli/commands.rs
  src/image/builder.rs
  src/main.rs
Labels: module:config

refactor: Remove obsolete ImageBuilder implementation and related functions
  src/image/builder.rs
Labels: none

feat: Implement modular image builder with cloud-init, disk, ISO management, and post-processing
  src/image/builder/cloudinit.rs
  src/image/builder/disk.rs
  src/image/builder/iso.rs
  src/image/builder/mod.rs
  src/image/builder/postprocess.rs
Labels: none

feat: Enhance cloud-init configuration for GRUB and serial console support; update ISO download to netboot images; add UEFI setup for VM management
  src/image/builder/cloudinit.rs
  src/image/builder/iso.rs
  src/utils/vm.rs
Labels: none

feat: Enhance ISO management by adding netboot tarball extraction and bootable ISO creation
  README.md
  src/image/builder/iso.rs
Labels: type:documentation

feat: Update ISO creation process to support multiple tools and improve error handling
  README.md
  src/image/builder/iso.rs
Labels: type:documentation

feat: Implement ISO download and caching manager for Ubuntu netboot files
  src/image/builder/iso.rs
Labels: none

feat: Update error message for missing ISO creation tools with installation instructions
  README.md
  src/image/builder/iso.rs
Labels: type:documentation

feat: Enhance UEFI setup by dynamically locating OVMF files and providing installation instructions
  README.md
  src/cli/commands.rs
  src/image/builder/mod.rs
  src/utils/vm.rs
Labels: type:documentation

feat: Update UEFI setup to support newer 4M OVMF format and alternative paths
  src/utils/vm.rs
Labels: none

feat: Refactor ISO management to use netboot files directly and improve installation process
  src/image/builder/iso.rs
  src/image/builder/mod.rs
  src/utils/vm.rs
Labels: none

feat: Add signal handling for graceful shutdown and cleanup on exit
  src/image/builder/mod.rs
  src/main.rs
  src/utils/vm.rs
Labels: none

feat: Enhance netboot file handling by searching for kernel and initrd paths and improving error logging
  src/image/builder/iso.rs
  src/utils/vm.rs
Labels: none

feat: Improve netboot file handling by expanding kernel and initrd path search and enhancing logging of directory contents
  src/utils/vm.rs
Labels: none

feat: Improve error detection in VM installation logs and refine kernel command line arguments
  src/utils/vm.rs
Labels: none

feat: Enhance VM installation monitoring by improving cloud-init detection and logging details
  src/utils/vm.rs
Labels: none

refactor: Remove unused send_key_to_vm method from VmManager
  src/utils/vm.rs
Labels: none

feat: Add ProcessError variant to AutoInstallError and update VM installation method to use Ubuntu Server ISO
  .vscode/tasks.json
  src/error.rs
  src/image/builder/cloudinit.rs
  src/image/builder/iso.rs
  src/image/builder/mod.rs
  src/utils/vm.rs
Labels: module:config

refactor: Remove UEFI setup code from VmManager and simplify VM installation process
  src/utils/vm.rs
Labels: none

feat: Add SSH installation command for Ubuntu with comprehensive system investigation and configuration
  src/cli/args.rs
  src/cli/commands.rs
  src/main.rs
  src/network/mod.rs
  src/network/ssh_installer.rs
Labels: none

feat: Implement SSH-based Ubuntu installation with ZFS and LUKS
  src/network/mod.rs
  src/network/ssh_installer.rs
  src/network/ssh_installer/config.rs
  src/network/ssh_installer/disk_ops.rs
  src/network/ssh_installer/installer.rs
  src/network/ssh_installer/investigation.rs
  src/network/ssh_installer/mod.rs
  src/network/ssh_installer/packages.rs
  src/network/ssh_installer/system_setup.rs
  src/network/ssh_installer/zfs_ops.rs
Labels: none

feat: Enhance SSH installation process with detailed error handling and comprehensive reporting
  src/error.rs
  src/network/ssh.rs
  src/network/ssh_installer/installer.rs
  src/network/ssh_installer/zfs_ops.rs
Labels: none

feat: Update configuration and system setup for SSH installation with debootstrap release and mirror options
  src/network/ssh_installer/config.rs
  src/network/ssh_installer/system_setup.rs
  src/network/ssh_installer/zfs_ops.rs
Labels: none

feat: Ensure necessary directories exist during bpool dataset creation
  src/network/ssh_installer/zfs_ops.rs
Labels: none

feat: Add preflight checks and improve ZFS pool creation logic in SSH installer
  src/network/ssh_installer/installer.rs
  src/network/ssh_installer/system_setup.rs
  src/network/ssh_installer/zfs_ops.rs
Labels: none

feat: Implement robust recovery and cleanup process for disk operations in SSH installer
  src/network/ssh_installer/disk_ops.rs
  src/network/ssh_installer/installer.rs
  src/network/ssh_installer/system_setup.rs
Labels: none

feat: Update debootstrap release and versioning across configuration files
  src/network/ssh_installer/config.rs
  src/network/ssh_installer/installer.rs
  src/network/ssh_installer/system_setup.rs
Labels: none

feat: Update chroot commands to ensure proper execution context and fix DNS resolution
  src/network/ssh_installer/system_setup.rs
Labels: none

feat: Update version to 1.5.0 and enhance logging and GRUB configuration in SSH installer
  src/network/ssh_installer/installer.rs
  src/network/ssh_installer/system_setup.rs
Labels: none
